@model IEnumerable<Doc_Planner.Models.Appointment>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,Reflection.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Index.css">
<p>
    <a asp-action="Create">Créer un nouveau rendez-vous</a>
</p>

<p>
    @using (Html.BeginForm("Index", "Appointments", FormMethod.Get))
    {

        <b>Recherche de rendez-vous</b>
        <br />
        <br />
        <div class="form-group col-lg-3">
            <text> Plage du rendez-vous </text>
            <span class="form-check form-check-inline">
                <input type="date" name="dateDebut" class="form-control form-control-sm" /> <input type="time" name="hDebut" class="form-control form-control-sm col-lg-2" />   <text> à </text>
                <input type="date" name="dateFin" class="form-control form-control-sm" /> <input type="time" name="hDebut" class="form-control form-control-sm col-lg-2" />
            </span>
            <text> Nom</text>  <input type="text" placeholder="Nom du patient" name="nom" class="form-control form-control-sm" />
            <text>Date de naissance</text> <input type="date" class="form-control form-control-sm" name="birthday" />
            <br />
            <text>Rendez-vous annulés</text>
            <div class="checkbox checkbox-slider--b-flat checkbox-slider-sm">
                <label>
                    <input type="checkbox" name="annules">
                </label>
            </div>


        </div>
        <input type="submit" value="Rechercher" class="fc-button" />


    }
</p>
<h3>Liste des rendez-vous</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HDebutRdv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diabete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NISS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsDeleted == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HDebutRdv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @if (item.Sexe == true)
                        {
                            <img src="~/men.png" />

                        }

                        else
                        {<img src="~/women.png">}

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diabete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Poids)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Taille)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BMI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamenType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NISS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>

                    <td>

                        <a asp-action="Edit" asp-route-id="@item.ID">Editer</a>
                    </td>

                    <td>

                        <a asp-action="Details" asp-route-id="@item.ID">Détails</a>
                    </td>

                    <td>

                        <a asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
                    </td>



                </tr>
            }
        }
    </tbody>
</table>
<nav aria-label="Appointments Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model, @class = "page-link" })

</nav>
