@model IEnumerable<Doc_Planner.Models.Appointment>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,Reflection.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Index.css">
<p>
    <a asp-action="Create">Créer un nouveau rendez-vous</a>
</p>

<p>
    @using (Html.BeginForm("Index", "Appointments", FormMethod.Get))
    {

        <b>Recherche de rendez-vous</b>
        <br />
        <br />
        <div class="form-group col-lg-12">
            <text> Date & heure du rendez-vous </text>
            <span class="form-check-inline">
                <input type="date" name="dateDebut" class="form-control form-control-sm col-lg-9" /> <input type="time" name="HDebut" class="form-control form-control-sm col-lg-5" />

            </span>
            <br />
            <span class="form-inline">
                Nom &nbsp;<input type="text" placeholder="Nom du patient" name="nom" class="form-control form-control-sm col-lg-2" />&nbsp;
                Site du preneur&nbsp;
                <select name="hopitalref" class="form-control form-control-sm col-lg-3">
                    <option value="">Séléctionner un hôpital</option>
                    <option value="GHDC">Grand Hôpital de Charleroi</option>
                    <option value="CNDG">Clinique Notre-Dame de Grâce </option>
                    <option value="CHUCHARLEROI">CHU Charleroi</option>
                </select>
                Type d'examen&nbsp;
                <select name="examentype" class="form-control form-control-sm col-lg-3" placeholder="Type de l'examen">
                    <option value="">Selectionner un type d'examen . . . </option>
                    <option value="IRM">IRM</option>
                    <option value="Echographie">Echographie</option>
                    <option value="Arthroscanner">Arthroscanner</option>
                </select>
            </span>

            <text>Rendez-vous annulés</text>
            <div class="checkbox checkbox-slider--b-flat checkbox-slider-sm">
                <label>

                    <input type="checkbox" name="annules" value="true"><span></span>

                </label>
            </div>
            <text>Urgent</text>
            <div class="checkbox checkbox-slider--b-flat checkbox-slider-sm">
                <label>
                   
                    <input type="checkbox" name="urgent" value="true"><span></span>

                </label>
            </div>

            <input type="submit" value="Rechercher" class="btn btn-primary btn-block col-lg-2" />

        </div>

        

    }
</p>
<h3>Liste des rendez-vous</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HDebutRdv)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diabete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NISS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HopitalDeRef)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HDebutRdv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @if (item.Sexe == true)
                {
                    <img src="~/men.png" />

                }

                else
                {<img src="~/women.png">}

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diabete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamenType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NISS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HopitalDeRef)
            </td>

            <td>

                <a asp-action="Edit" asp-route-id="@item.ID">Editer</a>
            </td>

            <td>

                <a asp-action="Details" asp-route-id="@item.ID">Détails</a>
            </td>

            <td>

                <a asp-action="Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>



        </tr>
            
        }
    </tbody>
</table>
<nav aria-label="Appointments Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model, @class = "page-link" })

</nav>
